html {
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: rgb(185, 185, 185);
    color: black;
}
th.calendar {
    text-align: left;
    width: 100px;
    height: 100px;
    border-width: 7px;
}
textarea#c_a_desc {
    width: 200px;
    height: 150px
}
textarea#e_a_desc {
    width: 200px;
    height: 150px
}

table.eventsList {
    border-collapse: separate;
    border: 15px solid rgb(158, 158, 158);
    background-color: rgb(158, 158, 158);
    border-spacing: 0;
    border-radius: 20px;
    font-size: 75px;
    color: white;
}
table#eventsCal {
    margin-top: 50px;
}
table.eventsList th {
    border: 10px solid rgb(158, 158, 158);
    border-radius: 20px;
    background-color: rgb(197, 197, 197);
}

table#calendarr {
    border-collapse: separate;
    border: 15px solid rgb(158, 158, 158);
    background-color: rgb(158, 158, 158);
    border-spacing: 0;
    border-radius: 20px;
    font-size: 75px;
    color: white;
}
table#calendarr th {
    border: 10px solid rgb(158, 158, 158);
    border-radius: 20px;
    background-color: rgb(197, 197, 197);
    text-align: center;
}
table#calendarr th.today {
    background-color: rgb(98, 218, 116);
}
table#calendarr th.events {
    background-color: rgb(251, 179, 134);
}
table#calendarr th.rest {
    background-color: rgb(251, 134, 134);
}

select {
    background: white;
    border-color: rgb(158, 158, 158);
    border-radius: 30px;
    border-width: 20px;
    font-size: 50px;
    margin-top: 15px;
}

input {
    background: white;
    border-color: rgb(158, 158, 158);
    border-radius: 30px;
    border-width: 20px;
    font-size: 50px;
    margin-top: 15px;
}
input::placeholder {
    color: rgb(197, 197, 197);
}

textarea {
    background: white;
    border-color: rgb(158, 158, 158);
    border-radius: 30px;
    border-width: 20px;
    font-size: 50px;
    margin-top: 15px;

}
textarea::placeholder {
    color: rgb(197, 197, 197);
}

button.leftpanel {
    background: rgb(197, 197, 197);
    border-radius: 20px;
    border-width: 0px;
    margin-top: 25%;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 50px;
    cursor: pointer;
}
button.leftpanel:hover {
    background: rgb(172, 172, 172);
    border-width: 0px;
    font-size: 50px;
    cursor: pointer;
}

button.default {
    color: white;
    background: rgb(197, 197, 197);
    border-color: rgb(158, 158, 158);
    border-radius: 30px;
    border-width: 20px;
    font-size: 50px;
    cursor: pointer;
}
button.default:hover {
    color: rgb(0, 0, 0);
    background: rgb(197, 197, 197);
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}
button.backButton {
    border-width: 0px;
    border-radius: 20px;
    background: rgb(185, 185, 185);
    cursor: pointer;
}
button.backButton:hover {
    background: rgb(255, 255, 255);
    cursor: pointer;
}
button.red {
    color: white;
    background: rgb(242, 167, 167);
    border-color: rgb(185, 127, 127);
    border-radius: 30px;
    border-width: 20px;
    margin-top: 15px;
    font-size: 50px;
    cursor: pointer;
}
button.red:hover {
    color: rgb(0, 0, 0);
    background: rgb(185, 127, 127);
    border-color: rgb(242, 167, 167);
    cursor: pointer;
}
button.orange {
    color: white;
    background: rgb(241, 219, 183);
    border-color: rgb(201, 158, 135);
    border-radius: 30px;
    border-width: 20px;
    margin-top: 15px;
    font-size: 50px;
    cursor: pointer;
}
button.orange:hover {
    color: rgb(0, 0, 0);
    background: rgb(201, 158, 135);
    border-color: rgb(241, 219, 183);
    cursor: pointer;
}
button.green {
    color: white;
    background: rgb(174, 231, 182);
    border-color: rgb(152, 192, 162);
    border-radius: 30px;
    border-width: 20px;
    margin-top: 15px;
    font-size: 50px;
    cursor: pointer;
}
button.green:hover {
    color: rgb(0, 0, 0);
    background: rgb(152, 192, 162);
    border-color: rgb(174, 231, 182);
    cursor: pointer;
}
button.see {
    background: rgb(72, 168, 48);
    border-width: 0px;
    border-radius: 30px;
    cursor: pointer;
}
button.see:hover {
    background: rgb(36, 85, 24);
    cursor: pointer;
}
button.edit {
    background: rgb(255, 169, 49);
    border-width: 0px;
    border-radius: 30px;
    cursor: pointer;
}
button.edit:hover {
    background: rgb(138, 92, 28);
    cursor: pointer;
}
button.remove {
    background: rgb(252, 81, 81);
    border-width: 0px;
    border-radius: 30px;
    cursor: pointer;
}
button.remove:hover {
    background: rgb(116, 37, 37);
    cursor: pointer;
}
button.link {
    background: rgb(55, 195, 234);
    border-width: 0px;
    border-radius: 30px;
    cursor: pointer;
}
button.link:hover {
    background: rgb(25, 95, 114);
    cursor: pointer;
}
button.link[disabled] {
    background: rgb(252, 81, 81);
    border-width: 0px;
    border-radius: 30px;
    cursor: pointer;
}
button.link[disabled]:hover {
    background: rgb(116, 37, 37);
    cursor: pointer;
}

div.mainpanel {
    background-color: rgb(217, 217, 217);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 600;
    padding-bottom: 100%;
    margin-top: 100;
    margin-left: 175;
    border-radius: 20px;
    position: absolute
}
div.titlepanel {
    color: white;
    background-color:rgb(185, 185, 185);
    font-size: 75px;
    padding-left: 200;
    padding-top: 10;
    padding-bottom: 10;
    border-radius: 20px;
    position: fixed
    
}
div.leftpanel {
    background-color: rgb(158, 158, 158);
    padding-bottom: 100%;
    padding-left: 15;
    padding-right: 15;
    border-radius: 20px;
    position: fixed
}
div#titlecal {
    padding-left: 300px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: rgb(158, 158, 158);
    font-size: 50;
}
div#response {
    color: tomato;
    font-size: 40px;
}
div#creationResponse {
    color: tomato;
    font-size: 40px;
}
div#editResponse {
    color: tomato;
    font-size: 40px;
}
div.notfound {
    font-size: 300px;
    font-weight: 1000;
    color: rgb(252, 81, 81);
    text-align: center;
}
div.notfound1 {
    font-size: 50px;
    color: rgb(158, 158, 158);
    text-align: center;
}

path#locked {
    fill:rgb(159, 105, 105)
}
path#unlocked {
    fill:rgb(127, 127, 127)
}
path#active {
    fill:rgb(255, 255, 255)
}
input[type="checkbox"] {
    appearance: none;
    position: block;
    opacity: 100;
    cursor: pointer;
    height: 75;
    width: 75;
    border: 10px solid rgb(158, 158, 158);
    border-radius: 30px;
    background-color: rgb(197, 197, 197);
}
input[type="checkbox"]:checked {
    background-color: rgb(127, 127, 127);
}
