body {
    background-color: rgb(185, 185, 185);
    color: black;
}
th.calendar {
    text-align: left;
    width: 100px;
    height: 100px;
    border-width: 7px;
}
textarea#c_a_desc {
    width: 200px;
    height: 150px
}
textarea#e_a_desc {
    width: 200px;
    height: 150px
}

table.eventsList {
    border-collapse: separate;
    border: 15px solid rgb(158, 158, 158);
    background-color: rgb(158, 158, 158);
    border-spacing: 0;
    border-radius: 20px;
    font-size: 75px;
    color: white;
}
table.eventsList th {
    border: 10px solid rgb(158, 158, 158);
    border-radius: 20px;
    background-color: rgb(197, 197, 197);
}

select {
    background: white;
    border-color: rgb(158, 158, 158);
    border-radius: 30px;
    border-width: 20px;
    font-size: 50px;
    margin-top: 15px;
}

input {
    background: white;
    border-color: rgb(158, 158, 158);
    border-radius: 30px;
    border-width: 20px;
    font-size: 50px;
    margin-top: 15px;
}
input::placeholder {
    color: rgb(197, 197, 197);
}

textarea {
    background: white;
    border-color: rgb(158, 158, 158);
    border-radius: 30px;
    border-width: 20px;
    font-size: 50px;
    margin-top: 15px;

}
textarea::placeholder {
    color: rgb(197, 197, 197);
}

button.leftpanel {
    background: rgb(197, 197, 197);
    border-radius: 20px;
    border-width: 0px;
    margin-top: 25%;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 50px;
}
button.leftpanel:hover {
    background: rgb(172, 172, 172);
    border-width: 0px;
    font-size: 50px;
}

button.default {
    color: white;
    background: rgb(197, 197, 197);
    border-color: rgb(158, 158, 158);
    border-radius: 30px;
    border-width: 20px;
    font-size: 50px;
}
button.default:hover {
    color: rgb(0, 0, 0);
    background: rgb(197, 197, 197);
    border-color: rgb(255, 255, 255);
}
button.backButton {
    border-width: 0px;
    border-radius: 20px;
    background: rgb(185, 185, 185);
}
button.backButton:hover {
    background: rgb(255, 255, 255);
}
button.red {
    color: white;
    background: rgb(242, 167, 167);
    border-color: rgb(185, 127, 127);
    border-radius: 30px;
    border-width: 20px;
    margin-top: 15px;
    font-size: 50px;
}
button.red:hover {
    color: rgb(0, 0, 0);
    background: rgb(185, 127, 127);
    border-color: rgb(242, 167, 167);
}
button.orange {
    color: white;
    background: rgb(241, 219, 183);
    border-color: rgb(201, 158, 135);
    border-radius: 30px;
    border-width: 20px;
    margin-top: 15px;
    font-size: 50px;
}
button.orange:hover {
    color: rgb(0, 0, 0);
    background: rgb(201, 158, 135);
    border-color: rgb(241, 219, 183);
}
button.green {
    color: white;
    background: rgb(174, 231, 182);
    border-color: rgb(152, 192, 162);
    border-radius: 30px;
    border-width: 20px;
    margin-top: 15px;
    font-size: 50px;
}
button.green:hover {
    color: rgb(0, 0, 0);
    background: rgb(152, 192, 162);
    border-color: rgb(174, 231, 182);
}
button.see {
    background: rgb(72, 168, 48);
    border-width: 0px;
    border-radius: 30px;
}
button.see:hover {
    background: rgb(36, 85, 24);
}

div.mainpanel {
    background-color: rgb(217, 217, 217);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 60%;
    padding-bottom: 100%;
    margin-top: 7%;
    margin-left: 9%;
    border-radius: 20px;
    position: fixed
}
div.titlepanel {
    color: white;
    background-color:rgb(185, 185, 185);
    font-size: 75px;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    position: fixed
    
}
div.leftpanel {
    background-color: rgb(158, 158, 158);
    padding-bottom: 100%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 20px;
    position: fixed
}
div#response {
    color: tomato;
    font-size: 40px;
}
div#creationResponse {
    color: tomato;
    font-size: 40px;
}
div#editResponse {
    color: tomato;
    font-size: 40px;
}

path#locked {
    fill:rgb(159, 105, 105)
}
path#unlocked {
    fill:rgb(127, 127, 127)
}
path#active {
    fill:rgb(255, 255, 255)
}